<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de salas</span>

      <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleado">Agregar</button>

      <table class="table table-striped mt-5">

        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Salario</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>José de Jesús</td>
            <td>Cedillo Herrera</td>
            <td>CEHJ-720327-930</td>
            <td>$14,010</td>
            <td>
              <i class="fas fa-edit fa-lg text-info mr-2"></i>
              <i class="fas fa-trash fa-lg text-danger"></i>
            </td>
          </tr>
          <tr>
            <td>José de Jesús</td>
            <td>Cedillo Herrera</td>
            <td>CEHJ-720327-930</td>
            <td>$14,000</td>
            <td>
              <i class="fas fa-edit fa-lg text-info mr-2"></i>
              <i class="fas fa-trash fa-lg text-danger"></i>
            </td>

          </tr>
          <tr>
            <td>Yael</td>
            <td>Cedillo Villegas</td>
            <td>CEHJ-720327-930</td>
            <td>$44,000</td>
            <td>
              <i class="fas fa-edit fa-lg text-info mr-2"></i>
              <i class="fas fa-trash fa-lg text-danger"></i>
            </td>

          </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>
